<section id='games_index'>
  <h1>Join a Game</h1>
  <ul>
    <% @games.available.each do |game| %>
      <li>
        <div class="game">
          <h1><%= game.name %></h1>
        </div>
      </li>
    <% end %>
  </ul>
</section>

