<h1>Chess Game</h1>
<br/>
<div class='chess_board mx-auto mt-1'>
    <% 8.times do |row| %>
        <% 8.times do |column| %>
            <div class='<%= (row + column).even? ? 'white' : 'black' %>'></div>
        <% end %>
    <% end %>
</div>
<%= link_to("Quit game", "/games/:id", method: :delete) %></h1>
